@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;600;700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*variables generales*/
:root{
    --color-primario: #3db5c5;
    --color-titulo:#ffffffcc;
    --alineacion-titulo:left;

    --padding-container: 40px 0;
    --width-container:90%;
    --max-width-container:1200px;
    
    --color-btn:#444CF7;
    --text-btn:#fff;
    
    --padding-btn:20px 35px;
    --height-shape:18em;
    --color-text: #ffffff;

    --bacgroun-main: #0e0d0d;
}


body{
    font-family: 'Inter', sans-serif;
    background: var(--bacgroun-main);
}


.container{
    width: var(--width-container);
    max-width: var(--max-width-container);
    padding: var(--padding-container);
    margin: 0px auto;
    overflow: hidden;
}

/*Inicio del section*/
.section{
    width: 100%;
    height: 50px;

    background: #131010;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar{    
    width: 90%;

    display: flex;
    justify-content: flex-end;

}

.menu-bar .enlaces ul li{

    display: inline-block;
    padding: 0 15px
}


.menu-bar .enlaces ul li a{

    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu-bar .enlaces ul li a:hover{

    color: rgb(186, 127, 241);
    transition: all 0.4s;
}
/*fin del section*/


/*inicio del header*/
.cabecera{

    height: 100vh;
    min-height: 500px;

    position: relative;   
    --padding-container: 0;

    background: url(Images/Background1.jpeg);
    background-size: cover;
}


.cabecera-container{
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 4fr;
    place-items: center;
    gap: 20px;
   
}

.cabecera-title{
    color: var(--color-text);
    font-size: 4rem;
}

.cabecera-parrafo{

    color: var(--color-text);
    font-size: 1.4rem;
    
    margin: 25px 0;
}

.cabecera-img{
    width: 100%;

    border: 1px solid black;
    border-radius: 50%;
}
/*fin del header*/


/****Inicio del main******/
.title{
   
    font-size: 3.5rem;
    text-align: var(--alineacion-titulo);
   
    color: var(--color-titulo);
}

.title--border::after{
    width: 200px;
    height: 5px;

    content: "";
    margin-top: 20px;
    background-color: var(--color-primario);   

    display: block;
}
/*Fin de los Estilos generales del main*/


/*****estilos a la seccion sobre mi ***********/
.about{
 
    display: grid;
    grid-template-columns: 6fr 3fr;
}


.about-course{
    width: 95%;
}

.about-parrafo{
   
    font-size: 25px;
    color: var(--color-text);
    font-weight: 300;

    line-height: 1.8;
    text-align: justify;

    margin: 22px 0;
}

.about-picture{
    text-align: center;
}

.about-img{  
    width: 95%;
    padding-top: 125px;
}


/*estilos a la seccion de mis proyectos */

.card .title{
    padding-bottom: 30px;
}
.card-parrafo{

    font-size: 25px;
    font-weight: 300;

    color: var(--color-text);
}

.card-container{ 
    width: 99%;

    margin: 0 auto;
    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(3,1fr);   
    gap: 50px;

}


.card-item{/*caja principal de los cards*/
    
    text-align: center;
    background: #ffffff;
    padding: 20px;
    
    border-top: 5px solid rgb(11, 218, 255);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-img{
    width: 80px;
    height: 80px;

    margin-top: 20px;
    border-radius: 50%;

    background: #545454;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-picture{
    width: 50px;
}

.card-title{/*titulo del card*/
    margin: 20px 0 ;
    font-size: 1.5rem;
}

.card-item p{/*parrafo que esta dentro del card de cada uno*/
    width: 90%;
   
    font-size: 17px;
    font-weight: 500;

    text-align: justify;

    color: #000;
    margin-bottom: 20px;
}


/*estilos a los botones*/
.btn {    
    font-size: 16px;
    font-weight: 600;

    color: white;

    text-align: center;
    text-decoration: none;
    
    display: inline-block;
    padding: 15px 32px;
    background-color: rgb(20, 154, 207); /* Green */
    border: none;
    border-radius: 10px;
}

.btn:hover{
    transition: all 0.3s;
    background: rgb(2, 26, 47);
}


/**************************************************************/
/***********FOOTER *********/

.footer{
    position: relative;
    --padding-container: 160px 0 50px;
}

.footer::before{
    width: 100%;
    height: 100px;

    content: "";
    position: absolute;
    background: #545454;

    top: 0;
    left: 0;
    clip-path: polygon( 0 0 , 100% 0, 50% 100%);
}

.footer__contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    gap: 20px;

    margin-bottom: 30px;
}

.footer__social{
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
}

.footer__link{
    width: 60px;
    height: 60px;
    
    

    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon{
    width: 30px;
}

.footer__copy{
    margin: 20px 0;
    font-weight: 300;
}

.footer__picture{
    margin: 0;
}

.footer__img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}


.footer__copyright{

    padding-top: 30px;
    border-top: 2px solid #918484;
    text-align: center;
    font-weight: 600;
}

/*transicion a los iconos de redes sociales*/
.footer__link:hover{
    transition: all 0.3s;
    background-color: #c8f4ff;
}

   
/******************************************************************/
/***********RESPONSIVE************/
@media (max-width: 768px) {
    :root{
        --height-shape:14em;
    }

    /******Seccion cabecera*******/

    .cabecera::after{
        background: #ccc;
    }

    .cabecera{
        min-height: 100vh;
        height: auto;
    }

    .cabecera-texts{
        text-align: center;
    }
    

    .cabecera-container{
        --padding-container: 60px 0;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }

     /* Quite el height y limite el width de la imagen */
    .cabecera-img{
        order: -1;
        max-width: 300px;
    }

    .cabecera-title{
        font-size: 4rem;
    }

    
    /*********Seccion sobre mi****************/
    .about{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 80px;
    }

    .about-course{
        width: 100%;

    }

    .about-picture{
        order: 2;
    }

    .about-img{
        width: 100%;
    }

    /*seccion proyectos*/
    .card-container{
        width: 92%;
        grid-template-columns: 1fr;
        
    }

    /*seccion al pie de pagina*/
    .footer::before{
        background: #ccc;
    }

    .footer__contact{
        grid-template-columns: 1fr;
    }
    .footer__texts{
        order: 1;/*la imagen pasa de primero*/
    }

    .footer__texts .title {
        text-align: center;
    }
    
    .footer__texts .footer__copy{
        text-align: center;
       
    }

    .footer__social{
        justify-content: space-evenly;
    }

    /*no mostramos el borde de las redes sociales */
   .footer .title--border::after{
       display: none;
   }
}



@media  (max-width: 500px){
   
    /*seccion cabecera*/
    .cabecera-container{
        --padding-container: 30px 0;
    }

    .cabecera-texts{
        text-align: center;
    }

    .cabecera-title{
        font-size: 3rem;
    }
    .about-parrafo{
        font-size: 20px;
    }
    /*seccion footer*/
    .footer__img{
        display: none;
    }
   
}

