@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;600;700&family=Lexend+Deca&family=Poppins:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*variables generales*/
:root{

    --color-primario: #e87a19;
    --color-titulo:#ffffffcc;
    --alineacion-titulo:center;
    
    --fontsize-title: 3rem;
    --fontsize-text: 1.3rem;
    --color-text: #ffffff;


    --padding-container: 40px 0;
    --width-container:90%;
    --max-width-container:1200px;
    
    --color-btn:#444CF7;
    --text-btn:#fff;
    
    --padding-btn:20px 35px;
    --height-shape:18em;

    --background--main: #1f2020;      
    --background--secundary: #303131;

}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--background--main);
}

.container{

    width: var(--width-container);
    max-width: var(--max-width-container);
    padding: var(--padding-container);

    margin: 0px auto;
    overflow: hidden;
}

/*Inicio del section*/
.menu-principal{
    width: 100%;
    height: 75px;
    
    position: fixed;
    z-index: 1;

    color: var(--color-text);
    background: var(--background--secundary);
    

    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.menu-bar{

    width: 100%;

    display: flex;
    justify-content: right;
    /*margin: 40px;*/
}

.menu-bar .enlaces ul li{
    
    display: inline-block;
    padding: 0 30px;
}

.menu-bar .enlaces ul li a{
    
    font-size: 20px;
    font-weight: 600;
    color: var(--color-text);

    text-transform: uppercase;
    text-decoration: none;

}

.menu-bar .enlaces ul li a:hover{
    color: var(--color-primario);
    transition: all 0.3s;
}



.menu-principal i{/*estilos a los iconos de cerrar y de abrir navbar*/
    
    display: none;
    cursor: pointer;
    color: var(--color-text);
    font-size: 30px;

    float: right;
}

.menu-principal i:hover{
    color: var(--color-secundario);
    transition: all 0.3s;

}


/*fin del section*/


/*inicio del header*/
.cabecera{
    height: 100vh;
    min-height: 500px;

    --padding-container: 0;
    background: linear-gradient(rgba( 0, 0, 0, 0.6), rgba( 0 , 0, 0 , 0.6)),url(Images/Background1.jpeg);
    background-size: cover;
}


.cabecera-container{
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 4fr;
    place-items: center;
    gap: 20px;
   
}


.cabecera-title{
    font-size: var(--fontsize-title);
    color: var(--color-text);
}

.cabecera-parrafo{
    font-size: var(--fontsize-text);
    color: var(--color-text);
    
    margin: 10px 0;
}

.cabecera-img{
    width: 85%;

    border: 1px solid rgb(90, 88, 88);
    border-radius: 50%;
}

.icons-social-media{
   width: 100%;
}

.icon{
    font-size: 30px;
    padding-top: 10px;
    padding-right: 10px;
}

.linkedin{color:#3C99DC}
.instagram{color: #E1306C;}

/*fin del header*/


/****Inicio del main******/
.title{
   
    font-size: var(--fontsize-title);
    text-align: var(--alineacion-titulo);
   
    color: var(--color-text);
}


.title--border::after{
    width: 120px;
    height: 6px;

    content: "";
    margin: 0px auto;
    margin-top: 5px;

    background-color: var(--color-primario);   
    display: block;
    
}/*Fin de los Estilos generales del main*/



/*****estilos a la seccion sobre mi ***********/
.about{
    height: 60vh;
    
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}


.about-parrafo{
   
    font-size: var(--fontsize-text);
    color: var(--color-text);

    line-height: 1.2;
    text-align: justify;

    margin: 20px 0;
}


/*estilos a la seccion de mis proyectos */
.card{
    background-color: var(--background--secundary);
}

.card-parrafo{
    font-size: var(--fontsize-text);
    color: var(--color-text);
}


/*contenedor de las tarjetas*/
.card-container{

    width: 100%;

    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(3,1fr);/*se escora en 3*/   
    gap: 40px;

}

/*cajas de los cards*/
.card-item{
   
    text-align: center;
   
    border: .1px solid white;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}


/*imagen de las tarjetas*/
.card-img .card-picture{
   
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}

.text-card{
    padding: 20px;
}

.card-title{/*titulo del card*/    
    font-size: var(--fontsize-text);
    font-weight: 550;
    color: var(--color-text);
}

/*parrafo que esta dentro del card de cada uno*/
.card-item p{
    width: 100%;
   
    font-size: 16px;
    font-weight: 400;
    text-align: justify;

    margin-top: 20px;
    margin-bottom: 20px;
}


.btn-links{
    width: 100%;
    height: 55px;
}


/*estilos a los botones*/
.btn {  
   
    --color-primario: #ce7b1b;
    --fontsize-text: 18px;
    
    font-size: var(--fontsize-text);
    font-weight: 500;
    color: #000;

    text-align: center;
    text-decoration: none;
    padding: 10px 10px;

    background-color: var(--color-primario); 
    border: none;
    border-radius: 2%;
}

/*agregamos un hover a los botones*/
.btn:hover{
    
    transition: all 0.3s;

    color: var(--color-primario);
    background: none;
    border: 2px solid var(--color-primario);
}

/****seccion HABILIDADES*****/

.skills{
    width: 100%;
}

.skills-container{
  
    width: 100%;
    list-style: none;
    margin-top: 60px;
   
    display: grid;
    grid-template-columns: repeat(4,1fr);/*se escora en 4*/   
    place-items: center;

    gap: 20px;

}


/*estilos a los iconos */
.sm-icon {
    font-size: 60px;
}

/*background a los iconos*/
.html{color: #f06529;}
.css{color: #3C99DC;}
.bootstrap{color: #563d76;}
.js{color: #f0db4f;}
.java{color: #c50b0b;}
.git{color: #f2502f;}
.github{color: white;}


/*Seccion Pie de pagina */

.footer{
  
    background: var(--background--secundary);

}

.container-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.footer-social_media{
    
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.footer-social_media li{
    list-style: none;

}

.footer-social_media .icon{
    font-size: 30px;
    margin: 20px;
}

.facebook{color: #3b5998;}
.twitter{color: #00acee;}
.tiktok{color: white;}
.youtube{color: red;}

   
/******************************************************************/
/***********RESPONSIVE************/
@media (max-width: 768px) {
    
    :root{
        --height-shape:14em;

    }

    .title{
        font-size: 2rem;
    }

   
    /******Seccion cabecera*******/
    .cabecera{
        padding-top: 20%;
    }

    .cabecera-texts{
        text-align: center;
    }
    

    .cabecera-container{
        
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }

     /* Quite el height y limite el width de la imagen */
    .cabecera-img{
        order: 0;
        margin-top: 40px;
        max-width: 70%;

    }

    .cabecera-title{
        font-size: 2.5rem;
    }

    
    /*********Seccion sobre mi****************/
    .about{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 80px;
    }

    .about-course{
        width: 100%;

    }

    .about-picture{
        order: 2;
    }

    .about-img{
        width: 100%;
    }

    /*seccion proyectos*/
    .card-container{
        width: 100%;
        grid-template-columns: 1fr;
        
    }

    /*seccion habilidades*/

    .skills-container{       
        grid-template-columns: repeat(3,1fr);/*se escora en 3*/   
        gap: 15px;
    }

    .skills-container li .about-parrafo{
        --fontsize-text: 1rem;
        font-size: var(--fontsize-text);
        text-align: center;
    }
    

}



@media  (max-width: 500px){
   
    /*seccion cabecera*/
    .cabecera-container{
        --padding-container: 30px 0;
    }

   
    .cabecera-title{
        font-size: 1.7rem;
    }

    /*inicio del section*/
    .menu-principal{
        position: fixed;
        top: 0;
        margin-top: 0;
   }

   .menu-principal i{
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
   }

   .menu-bar{
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
        background: #333;
        transition: all 1s;
        transform: translateX(100%);
   }

   .menu-bar.active{
        transform: translateX(0%);
   }

   .menu-bar i{
        position: absolute;
        right: 30px;
        top: 30px;
   }

   .menu-bar .enlaces ul li{
        display: block;
        padding: 20px 10px;
        text-align: center;
   }

   .menu-bar .enlaces ul li a,
   .menu-bar .sociales a{
        font-size: 20px;
   }


    /*seccion sobre mi*/
    .about-parrafo{
        font-size: 1rem;
    }


    /*seccion habilidades*/
    .skills-container{
        grid-template-columns: repeat(2,1fr);/*se escora en 3*/   
    }

    .skills-container li .about-parrafo{
        font-size: .8rem;
    }

    /*seccion pie de pagina*/
    .cabecera-text-footer .cabecera-parrafo{
        font-size: 1rem;
        font-weight: 700;
    }

    .footer-social_media .icon{
        font-size: 18px;
        margin: 10px;
    }
}

