@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@300;600;700&family=Lexend+Deca&family=Poppins:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

/*variables generales*/
:root{

    --color-primario: #e87a19;
    --color-titulo:#ffffffcc;
    --alineacion-titulo:center;
    
    --fontsize-title: 3rem;
    --fontsize-text: 1.3rem;
    --color-text: #ffffff;


    --padding-container: 40px 0;
    --width-container:90%;
    --max-width-container:1200px;
    
    --color-btn:#444CF7;
    --text-btn:#fff;
    
    --padding-btn:20px 35px;
    --height-shape:18em;

    --background--main: #1f2020;      
    --background--secundary: #303131;

}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--background--main);
}

.container{
    width: var(--width-container);
    max-width: var(--max-width-container);
    padding: var(--padding-container);

    margin: 0px auto;
    overflow: hidden;
}

/*Inicio del section*/
.section{
    width: 100%;
    height: 50px;

    background: var(--background--main);
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar{    
    width: 90%;

    display: flex;
    justify-content: flex-end;

}

.menu-bar .enlaces ul li{

    display: inline-block;
    padding: 0 15px
}


.menu-bar .enlaces ul li a{

    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
}

.menu-bar .enlaces ul li a:hover{

    color:var(--color-primario);
    transition: all 0.4s;
}
/*fin del section*/


/*inicio del header*/
.cabecera{

    height: 100vh;
    min-height: 500px;

    --padding-container: 0;

    background: url(Images/Background1.jpeg);
    background-size: cover;
}


.cabecera-container{
    height: 100%;

    display: grid;
    grid-template-columns: 2fr 4fr;
    place-items: center;
    gap: 20px;
   
}


.cabecera-title{

    font-size: var(--fontsize-title);
    color: var(--color-text);
}

.cabecera-parrafo{

    font-size: var(--fontsize-text);
    color: var(--color-text);
    
    margin: 10px 0;
}

.cabecera-img{
    width: 90%;

    border: 1px solid rgb(90, 88, 88);
    border-radius: 50%;
}
/*fin del header*/


/****Inicio del main******/
.title{
   
    font-size: var(--fontsize-title);
    text-align: var(--alineacion-titulo);
   
    color: var(--color-text);
}


.title--border::after{
    width: 120px;
    height: 6px;

    content: "";
    margin: 0px auto;
    margin-top: 5px;

    background-color: var(--color-primario);   
    display: block;
    
}/*Fin de los Estilos generales del main*/



/*****estilos a la seccion sobre mi ***********/
.about{

    display: grid;
    grid-template-columns: 6fr 3fr;
}


.about-parrafo{
   
    font-size: var(--fontsize-text);
    color: var(--color-text);

    line-height: 1.2;
    text-align: justify;

    margin: 20px 0;
}


/*estilos a la seccion de mis proyectos */
.card{
    background-color: var(--background--secundary);
}

.card-parrafo{
    font-size: var(--fontsize-text);
    color: var(--color-text);
}


/*contenedor de las tarjetas*/
.card-container{

    width: 100%;

    margin-top: 60px;

    display: grid;
    grid-template-columns: repeat(3,1fr);/*se escora en 3*/   
    gap: 40px;

}

/*cajas de los cards*/
.card-item{
   
    text-align: center;
   
    border: .1px solid white;
    border-radius: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}


/*imagen de las tarjetas*/
.card-img .card-picture{
   
    width: 100%;
    border-radius: 20px 20px 0 0 ;
}

.text-card{
    padding: 20px;
}

.card-title{/*titulo del card*/    
    font-size: var(--fontsize-text);
    font-weight: 550;
    color: var(--color-text);
}

/*parrafo que esta dentro del card de cada uno*/
.card-item p{
    width: 100%;
   
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    margin-bottom: 20px;
}


.btn-links{
    width: 100%;
    height: 55px;
}


/*estilos a los botones*/
.btn {  
   
    --color-primario: #ce7b1b;
    --fontsize-text: 18px;
    
    font-size: var(--fontsize-text);
    font-weight: 500;
    color: #000;

    text-align: center;
    text-decoration: none;
    padding: 10px 10px;

    background-color: var(--color-primario); 
    border: none;
    border-radius: 2%;
}

/*agregamos un hover a los botones*/
.btn:hover{
    
    transition: all 0.3s;

    color: var(--color-primario);
    background: none;
    border: 2px solid var(--color-primario);
}

/****seccion HABILIDADES*****/

.skills{
    width: 100%;
}

.skills-container{
  
    width: 100%;
    list-style: none;
    margin-top: 60px;
   
    display: grid;
    grid-template-columns: repeat(4,1fr);/*se escora en 4*/   
    place-items: center;

    gap: 20px;

}


/*estilos a los iconos */
.sm-icon {
    font-size: 60px;
}

/*background a los iconos*/
.html{color: #f06529;}
.css{color: #3C99DC;}
.bootstrap{color: #563d76;}
.js{color: #f0db4f;}
.java{color: #c50b0b;}
.git{color: #f2502f;}
.github{color: white;}


/*Seccion Pie de pagina */

.footer{
  
    background: var(--background--secundary);
}

.cabecera-text-footer{

    display: flex;
    align-items: center;
    justify-content: center;
}
   
/******************************************************************/
/***********RESPONSIVE************/
@media (max-width: 768px) {
    :root{
        --height-shape:14em;
    }

    .section{
        display: none;
    }
    /******Seccion cabecera*******/

    .cabecera{
        height: auto;
    }

    .cabecera-texts{
        text-align: center;
    }
    

    .cabecera-container{
        --padding-container: 60px 0;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }

     /* Quite el height y limite el width de la imagen */
    .cabecera-img{
        order: 1;
        max-width: 80%;
    }

    .cabecera-title{
        font-size: 4rem;
    }

    
    /*********Seccion sobre mi****************/
    .about{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 80px;
    }

    .about-course{
        width: 100%;

    }

    .about-picture{
        order: 2;
    }

    .about-img{
        width: 100%;
    }

    /*seccion proyectos*/
    .card-container{
        width: 92%;
        grid-template-columns: 1fr;
        
    }

}



@media  (max-width: 500px){
   
    /*seccion cabecera*/
    .cabecera-container{
        --padding-container: 30px 0;
    }

    .cabecera-texts{
        text-align: center;
    }

    .cabecera-title{
        font-size: 2.2rem;
    }

    /*seccion sobre mi*/
    .about-parrafo{
        font-size: 17px;
    }
    
}

