/*background a los iconos*/
.html{color: #f06529;}
.css{color: #3C99DC;}
.bootstrap{color: #563d76;}
.js{color: #f0db4f;}
.java{color: #c50b0b;}
.git{color: #f2502f;}
.github{color: white;}
.facebook{color: #3b5998;}
.twitter{color: #00acee;}
.tiktok{color: white;}
.youtube{color: red;}
.linkedin{color:#3C99DC}
.instagram{color: #E1306C;}
